@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


.topbar {
    font-size: 24px;
    background-color: black;
    min-height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.topbar-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 73px;
    flex: 1 1 320px;
}

.logo-wrapper svg {
    min-width: 126px;
    min-height: 30px;
    margin-top: 6px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.help-center {
    padding: 0;
    margin: 0;
}

.logo {
    transition: opacity 0.2s;
}

.logo:hover {
    opacity: 0.9;
}

.help-center:hover {
    text-decoration: underline;
}

.topbar-merger {
    color: white;
    user-select: none;
    font-size: 30px;
}

.buttons-wrapper button {
    all: unset;
    font-size: 24px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    height: 37px;
    padding: 6px 22px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.buttons-wrapper a {
    text-decoration: none;
    color: white;
}

#request_submit {
    background: #191a1b;
    border: 1px solid white;
}

#sign_in {
    background: #4C5FD5;
    transition:
        background 0.3s,
        color 0.3s;
}

#sign_in:hover {
    color: black;
    background: white
}

.hamburger-wrapper {
    display: flex;
    gap: 20px;
    display: none;
}

.hamburger {
    margin: auto 0 auto 0;
    cursor: pointer;
}

.search-bar-top {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 88px;
    background-color: white;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.ham-search{
    margin: auto;
}

#topbar-search {
    padding: 10px 20px 10px 16px;
    font-size: 17px;
    max-height: 55px;
    width: 70%;
}
.hamburger-wrapper span {
    cursor: pointer;
}

.material-symbols-outlined {
    font-weight: bold;
    margin: auto;
    text-align: center;
    color: white;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 0 0 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



.hero-unit {
    flex: 1 1 320px;
    background: #dadbf1;
    padding: 80px 30px 115px;
}

.container {
    padding-right: calc(15px* 2);
    padding-left: calc(15px* 2);
}

.container-inner {
    margin: auto;
    max-width: 720px;
    position: relative;
}

.container-inner h1 {
    text-align: center;
    width: 720px;
    font-weight: 500;
    font-size: 65px;
    margin: 0 0 16px;
}

.search-help input:focus {
    outline: none;
}

.search-help input {
    padding: 1rem 1rem;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
    height: 4rem;
    border: 1px solid black;
    transition: border 0.3s;
}

.arrow-svg {
    position: absolute;
    right: 10px;
    top: 123px;
    pointer-events: none;
    z-index: 100;
    transition: fill 0.3s;
}

.search-help:hover .arrow-svg {
    fill: #4C5FD5;
}

.search-help input:hover {
    border: 1px solid #4C5FD5;
}

.search-help input:focus {
    border: 1px solid #4C5FD5;
}

.home {
    max-width: 1600px;
    width: 80% !important;
    margin: auto;
}

.category-list-items {
    margin: 128px 0 64px 0;
    display: flex;
    flex-wrap: wrap;
}
main{
    display: flex;
    flex-direction: column;
}
.item {
    display: flex;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    padding-right: 15px;
    flex-basis: 48%;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: flex-start;
}

.item img {
    max-height: 120px;
    margin: 50px 30px 0 0;
    width: 88px;
    height: 88px;
}

.item h3 {
    font-size: 24px;
    margin: 48px 0 16px;
}

.item p {
    font-size: 23px;
    margin: 0 0 20px;
}

#learn_more {
    color: #4C5FD5;
    text-decoration: none;
    font-size: 20px;
}

#learn_more:hover {
    text-decoration: underline;
}

footer {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    padding-bottom: 60px;
    color: white;
    background-color: #000000;
    font-weight: 400;
}

.footer-container {
    margin: 0 auto;
    width: 90%;
    max-width: 1900px;
    position: relative;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 155px;
    max-width: 262px;
    line-height: 24px;
}

.footer-column h3 {
    font-size: 24px;
    margin: 48px 0 16px;
}

.footer-column-links {
    display: flex;
    flex-direction: column;
}

.footer-column-links a,
.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column-links a:hover,
.footer-column a:hover {
    text-decoration: underline;
}

#break {
    margin-bottom: 30px;
}

#copyright-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 255px;
}

#copyright-footer p {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.abstract-logo-footer {
    height: 35px;
    margin: 0 0 20px;
}

@media(max-width: 1440px){
    .footer-container {
        margin: 0 auto;
        width: 90%;
        max-width: 1900px;
        position: relative;
        padding-bottom: 200px;
        display: flex;
        flex-wrap: wrap;
    }
}


@media (max-width: 1200px) {
    .hamburger-wrapper {
        display: flex;
    }

    .hamburger.active .bar {
        margin: 0;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translatex(-5px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translatey(-8px);
    }

    .buttons-wrapper {
        position: absolute;
        z-index: 10010;
        left: -100%;
        top: 88px;
        gap: 0;
        flex-direction: column;
        background-color: #191A1B;
        width: 100%;
        text-align: center;
    }

    .buttons-wrapper button {
        margin: 10px 0;
        width: 300px;
    }

    .buttons-wrapper.active {
        left: 0;
    }

    .search-bar-top.active {
        display: flex;
    }

}

@media (max-width: 768px) {
    .footer-container{
        margin-bottom: 200px;
    }
}