@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.topbar {
    font-size: 24px;
    background-color: black;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}

.topbar-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 73px;
}

.logo-wrapper svg {
    width: 126px;
    height: 30px;
    margin-top: 6px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-wrapper a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}
.help-center{
    padding: 0;
    margin: 0;
}
.logo {
    transition: opacity 0.2s;
}

.logo:hover {
    opacity: 0.9;
}

.help-center:hover {
    text-decoration: underline;
}

.topbar-merger {
    color: white;
    user-select: none;
    font-size: 30px;
}

.buttons-wrapper button {
    all: unset;
    font-size: 24px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    height: 37px;
    padding: 6px 22px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 500;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

#request_submit {
    background: #191a1b;
    border: 1px solid white;
}

#sign_in {
    background: #4C5FD5;
    transition: background 0.3s,
        color 0.3s;
}

#sign_in:hover {
    color: black;
    background: white
}

.hero-unit {
    background: #dadbf1;
    padding: 80px 30px 115px;
}

.container {
    padding-right: calc(15px* 2);
    padding-left: calc(15px* 2);
}

.container-inner {
    margin: auto;
    max-width: 720px;
    position: relative;
}

.container-inner h1 {
    text-align: center;
    width: 720px;
    font-weight: 500;
    font-size: 65px;
    margin: 0 0 16px;
}

.search-help input:focus {
    outline: none;
}

.search-help input {
    padding: 1rem 1rem;
    box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    border-radius: 4px;
    width: 100%;
    height: 4rem;
    border: 1px solid black;
    transition: border 0.3s;
}

.arrow-svg {
    position: absolute;
    right: 10px;
    top: 123px;
    pointer-events: none;
    z-index: 100;
    transition: fill 0.3s;
}

.search-help:hover .arrow-svg {
    fill: #4C5FD5;
    /* Change to desired hover color */
}

.search-help input:hover {
    border: 1px solid #4C5FD5;
}

.home{
    max-width: 1600px;
    width: 80% !important;
    margin: auto;
}
.category-list-items{
    margin: 128px 0 64px 0;
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 3rem;
    padding-right: 15px;
    flex-basis: 48% ;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: flex-start;
}

.item img {
    max-height: 120px;
    margin: 50px 30px 0 0;
    width: 88px;
    height: 88px;
}
.item h3{
    font-size: 24px;
    margin: 48px 0 16px;
}
.item p{
    font-size: 23px;
    margin: 0 0 20px;
}
#learn_more{
    color: #4C5FD5;
    text-decoration: none;
    font-size: 20px;
}
#learn_more:hover{
    text-decoration: underline;
}

footer {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    padding-bottom: 60px;
    color: white;
    background-color: #000000;
    font-weight: 400;
}
.footer-container{
    margin: 0 auto;
    width: 90%;
    max-width: 1900px;
    position: relative;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}
.footer-column{
    display: flex;
    flex-direction: column;
    flex: 1 1 155px;
    max-width: 262px;
    line-height: 24px;
}
.footer-column h3{
    font-size: 24px;
    margin: 48px 0 16px;
}
.footer-column-links{
    display: flex;
    flex-direction: column;
}
.footer-column-links a,
.footer-column a{
    color: white;
    text-decoration: none;
}
.footer-column-links a:hover,
.footer-column a:hover{
    text-decoration: underline;
}
#break{
    margin-bottom: 30px;
}

#copyright-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 255px;
}
#copyright-footer p{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.abstract-logo-footer{
    height: 35px;
    margin: 0 0 20px;
}